.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
.nav{
    width: 73%;
    padding: 1%;
}
.ul{
    width: 50%;
    margin-left: auto;
}
.heroimg{
    height: 600px;
    padding: 25px;
    float: right;
}
    


.footer{
    background-color: #373738;
}
.foot{
    display: inline-block;
    vertical-align: top;
}
.li{
    padding: 500px;
}



.intro{
    padding: 15%;
}

.container{
    position: inherit;
}

.me{
    height: 500px;
    width: 275px;
}

.basherTech{
    padding: 100px;
    background-color: #1D1D1D;
}

.mySkills{
    display: block;
    text-align: center;
    padding-bottom: 15px;
}



.skills{
    padding-bottom: 15px;
    padding-top: 25px;
}

.flexContainer{
    padding: 15px;
    text-align: center;
    border: 1px solid red;
    border-top: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    


    
}
.hex{
    height: 250px;
    width: 250px;
}

.cal{
    height: 250px;
    width: 250px;
}

.fruit{
    height: 250px;
    width: 250px;
}

.gridCon{
    display: grid;
    grid-row-gap: 25px;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px ;
    
    
}

@media only screen and (max-width: 600){
    #grid{
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
